//---------------------------
//Patrón de colores
//---------------------------
$texto: #111111;
$principal: #12AFAF;
$secundario: #009500;
$encabezado: #e0e0e0;

html {
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}

.bienvenidos {
    background: url("../images/presentacion.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.encabezado {
    background: $encabezado;
    color: #fff;
    padding: .5rem 0;
    transition: all .5s ease;
}

.encabezado.fondo-menu {
    background: #536D8A;
    padding: 1rem 0;
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado .logo img {
    width: 150px;
    height: auto;
}


/* Estilos botón buscar y menú*/

.boton-buscar,
.boton-menu {
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #1f293a;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}


/* Estilo buscar*/

#search-block {
    flex: 1 1 100%;
}

.contenedor-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}

.contenedor-buscar input[type="submit"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #1A96D4;
    color: #fff;
    flex: 0 1 auto;
    padding: 0 1rem;
}

#menu-hamburguesa {
    flex: 1 1 100%;
}

#menu-hamburguesa ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}

#menu-hamburguesa ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #1F293A;
    text-transform: uppercase;
    border-top: 1px solid #3F9DCC;
    text-decoration: none;
}

#menu-hamburguesa ul a:hover,
#menu-hamburguesa ul li.active a {
    color: #1A96D4;
}

.texto-principal {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.texto-principal .display-4 {
    margin-top: 4rem;
}

.texto-principal .btn-primary {
    margin-top: 1rem;
}

.btn-primary {
    transition: all .5s ease;
}

.arrow-down a {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-abajo 1.5s ease-in-out infinite;
}

@keyframes flecha-abajo {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}


/*----------------------------
Desarrollo
------------------------------*/

.desarrollo {
    background: #E0E0E0;
    color: #282f42;
}

.desarrollo .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.desarrollo img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.desarrollo .container p {
    text-align: justify;
}


/*---------------------------
Sección familia uicode
----------------------------*/

.team-uicode {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.88);
}

.team-uicode .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.team-uicode h2,
.team-uicode .introduccion{
  color: #fff;
}

.team-uicode h2 span {
    color: #1A96D4;
}

.team-uicode .card {
    margin-bottom: 1rem;
}

.team-uicode .card img {
   width: 10rem;
    margin: auto;
}

.team-uicode .card .card-footer {
    text-align: center;
}

/*--------------------------
    Nuestros servicios
----------------------------*/

.servicios .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.servicios img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios .informacion {
    margin: auto;
}

.servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}

.servicios h3 a {
    color: #1515e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.servicios h3 a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}

.servicios h3 a:hover::after {
    left: -.5rem;
    opacity: 1;
    color: #fff;
}


/*---------------------------
    Últimos proyectos
---------------------------*/

.portafolio {
    background: #FFFFFF;
}

.portafolio .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portafolio a {
    text-decoration: none;
}

.portafolio a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.portafolio h2 {
    color: #000000;
    padding-bottom: 1rem;
}

.portafolio .container {
    padding-left: 0;
    padding-right: 0;
}

.portafolio .owl-nav {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.portafolio .owl-next,
.portafolio .owl-prev {
    font-size: 3rem;
    margin: 0 .5rem;
    color: #808080;
    transition: all .5s ease;
}

.portafolio .owl-next:hover,
.portafolio .owl-prev:hover {
    color: #000000;
}

.portafolio .owl-carousel .owl-item img {
	height: 100%;
    height: 10rem;
}


/*--------------------------
        Pie de página
---------------------------*/

.pie-pagina {
    background: #E0E0E0;
    color: #0f0f0f;
    text-align: center;
    font-size: .9rem;
}

.pie-pagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pie-pagina p span {
    color: #1A96D4;
}

.pie-pagina .redes-sociales a {
    color: #0f0f0f;
    font-size: 2rem;
    margin: 0 .5rem;
    opacity: .7;
    transition: all .5s ease;
}

.pie-pagina .redes-sociales a:hover {
    opacity: 1;
}

.arrow-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    font-size: 3rem;
    color: rgb(18, 175, 175);
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    transition: all .5s ease;
}

.arrow-up:hover,
.arrow-up:focus {
    outline: 9px;
    text-decoration: none;
}

/*--------------------------------------
        Sección nosotros
---------------------------------------*/
.paginas-exteriores .bienvenidos {
    height: 50vh;
    }

.paginas-exteriores .ruta {
    background: #E0E0E0;
    color: #1A96D4;
    font-size: .98rem;
}

.paginas-exteriores .ideauicode .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.paginas-exteriores .parrafo-ideauicode {
    text-align: justify;
}

.paginas-exteriores .ruta a{
    color: #1A96D4;
    text-decoration: underline;
}

.paginas-exteriores .ruta a:hover{
    text-decoration: none;
}

.paginas-exteriores .card-header {
    font-size: 1.2rem;
    background: #1A96D4;
    color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

.paginas-exteriores .card-header a{
    color: #fff;
}

.paginas-exteriores .card p {
    text-align: justify;
}

.paginas-exteriores .card-header:hover {
    background: #12AFAF;
}

/*----------------------------------------
        Sección página servicios
-----------------------------------------*/
.paginas-exteriores .services {
    background: #1A96D4;
}

.paginas-exteriores .services .container {
  padding-top: 2rem;
    padding-bottom: 2rem;
}

.paginas-exteriores .services .servicios{
    background: #ffffff;
    text-align: center;
    border: 5px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.paginas-exteriores .services .servicios img{
    width: 100%;
}

.paginas-exteriores .services .servicios p{
   text-align: justify;
}

.paginas-exteriores .services .servicios:hover .fa{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    color: #12AFAF;
}

.modal .modal-content p {
    text-align: justify;
}

.modal .modal-content img {
    display: flex;
    width: 100%;
    height: 150px;
}



/* -------------------------------------
            Medias queries
---------------------------------------*/

@media (min-width:768px) {
    #menu-hamburguesa {
        height: auto !important;
        display: block;
        flex: 0 1 auto;
      margin-left: auto;
        order: 1;
    }

    #menu-hamburguesa ul {
        display: flex;
        margin: 0 0 0 0;
    }

    #menu-hamburguesa ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        border-bottom: 4px solid transparent;
        transition: all .5s ease;
    }

    #menu-hamburguesa ul li.active a {
        color: $principal;
        border-bottom: 4px solid;
    }

    #menu-hamburguesa ul li.active a,
    #menu-hamburguesa ul li a:hover {
        color: $principal;
        border-bottom: 4px solid;
    }

    .boton-buscar {
        margin-left: 1rem;
        margin-right: 0;
        order: 2;
    }

    #search-block {
        order: 3;
        position: absolute;
        width: 20rem;
        right: 1rem;
        top: 2.8rem;
        transition: all .5s ease;
    }

    /* Sección servicios*/
    .servicios article {
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .servicios img {
        flex: 0 0 150px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease;
    }

    .servicios article:hover img {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
    }

    .servicios h3 a::after {
        content: "";
    }

    .servicios h3 {
        font-size: 1.5rem;
        margin: 0 0 .5rem 0;
        flex: 0 1 auto;
    }

    .servicios .btn-outline-info {
        margin-top: auto;
    }
    
    
    /* Sección página servicios */
    
    .paginas-exteriores .services .col-md-4 {
        display: flex;
    }
    
    .paginas-exteriores .services .servicios {
        display: flex;
        flex-direction: column;
    }
    
     .paginas-exteriores .services .servicios .btn-primary{
        margin-top: auto;
    }
    
}

@media (min-width:992px) {
    html {
        font-size: 16px;
    }
    
    .tecnologias-usadas ul li {
        display: flex;
        min-height: 7rem;
    }
    
    .tecnologias-usadas ul li .fa {
        text-align: center;
        flex: 0 1 auto;
        margin-right: 1rem;
        transition: all 1s ease;
    }
    
    .tecnologias-usadas ul li:hover .fa {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        color: #1F293A;
    }
    
    .contenedor-tecnologias {
        flex: 1 0 0px;
    }
    
    .tecnologias-usadas ul li .contenedor-tecnologias h4 {
        margin-top: 0;
        font-size: 1rem;
    }
    
    .tecnologias-usadas ul:first-child .fa {
        order: 1;
        margin-left: 1rem;
        margin-right: 0;
    }
    
    .tecnologias-usadas ul li p{
        font-size:1rem;
    }
}
